* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(8, 8, 8);
  font-family: "Poppins", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: #03d5fa;
  border-radius: 8px;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 80px;
}

header nav {
  display: flex;
  gap: 80px;
}

header nav a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

header > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #03d5fa;
  padding: 12px 16px;
  border-radius: 28px;
  transition: 0.4s;
}

header nav a:hover {
  color: #03d5fa;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 160px;
}

#hero h1 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 52px;
  width: 560px;
  line-height: 56px;
  margin-bottom: 24px;
  color: #03e1fa;
}

#mobile-img {
  display: none;
}

#hero p {
  width: 480px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 24px;
}

#hero a {
  background-color: #03e1fa;
  text-decoration: none;
  color: #fff;
  padding: 12px 16px;
  border-radius: 28px;
}

#hero img {
  height: 480px;
  filter: drop-shadow(0px 4px 10px #03e1fa);
}

#about {
  margin-top: 320px;
  display: flex;
}

#about img {
  height: 440px;
  filter: drop-shadow(0px 4px 10px #03e1fa);
}

#about div {
  margin-left: 120px;
}

#about h2 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  color: #03d5fa;
  font-size: 80px;
  margin-bottom: 24px;
}

#about p {
  line-height: 32px;
}

#services {
  margin-top: 320px;
  display: flex;
  flex-direction: column;
  margin-bottom: 320px;
}

#services h2 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  color: #03d5fa;
  font-size: 80px;
  margin-bottom: 24px;
  text-align: center;
}

#services div {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

#services div span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(20, 20, 21);
  padding: 64px 128px;
  border-radius: 12px;
  width: 520px;
  margin: 10px;
  transition: .4s;
  font-weight: 600;
}

#services div span:hover {
  transform: scale(1.03);
}

#services div span img {
  height: 80px;
}

footer {
  background-color: #03d5fa;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

footer img {
  height: 150px;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  text-align: center;
  border-left: 2px solid black;
  padding-left: 40px;
}

footer nav a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;
}

footer nav a img {
  height: 24px;
}

@media (max-width: 768px) {
  header {
    padding: 12px;
  }

  header nav {
    display: none;
  }

  #hero {
    flex-direction: column;
    padding: 0 12px;
    margin-top: 40px;
  }

  #hero h1 {
    font-size: 28px;
    width: auto;
    line-height: 36px;
  }

  #hero p {
    width: auto;
    font-size: 16px;
  }

  #hero div {
    order: 2;
  }

  #hero img {
    height: 300px;
    width: 500px;
  }

  #hero a {
    display: flex;
    justify-content: center;
  }

  #about {
    flex-direction: column;
    padding: 0 12px;
    margin-top: 160px;
  }

  #about div {
    margin: 0;
  }

  #about h2 {
    font-size: 28px;
    margin-bottom: 24px;
  }


  #about img {
    height: 240px;
    width: 300px;
    margin: 40px auto;
    order: 2;
  }

  #services {
    flex-direction: column;
    margin-top: 120px;
    padding: 0 12px;
    margin-bottom: 120px;
  }

  #services h2 {
    font-size: 40px;
  }

  #services div {
    flex-direction: column;
  }

  #services div span {
    width: 320px;
    text-align: center;
  }

  footer {
    flex-direction: column;
    padding: 24px 12px;
  }

  footer > img {
    height: 100px;
    margin-bottom: 40px;
  }

  footer nav {
    border-left: none;
    padding-left: 0;
    padding-top: 40px;
    border-top: 2px solid black;
  }
}
